package ${packageName}.${module}.controller;

import org.springframework.beans.factory.annotation.Autowired;
import ${packageName}.${module}.service.${modelClass}Service;
import lombok.extern.slf4j.Slf4j;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiResponse;
import com.alibaba.fastjson.JSONObject;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.Api;
import com.hycxkj.common.base.BaseController;
/**
* @author 陈少平
* @description
* @create in ${createTime}
*/
@Slf4j
@Api(tags= "接口")
@RestController
@RequestMapping("/api")
public class ${modelClass}Controller extends BaseController{

    @Autowired
    private ${modelClass}Service ${modelName}Service;

}